html {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

#mainContainer {
    border: 1px solid purple;
    min-height: 100%;
    margin: auto;
}

button {
    margin: 10px;
    width: 128px;
    height: 32px;
}